a {
	text-decoration: none;
	font-weight: bold;
	color: #AD1010;
}

a:hover {
	color: #000000;
}

.cutive-mono-18 {
	font-family: Cutive Mono;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.cutive-mono-16 {
	font-family: Cutive Mono;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.compiler-directive {
	color: #087BAC;
}

.c-keyword {
	color: #1CA510;
}

.c-string {
	color: #5E1C93;
}
